*{ 
  font-family: 'Source Sans Pro', sans-serif; 
  margin: 0;
}
.container {
  width: 100%;
  display: flex;
}

.main-content {
  flex: 4;
  background-color: #f6f6f6;
  padding: 18px 12px 0 12px;
}